* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.responsive-img {
  max-width: 600px;
  height: auto;
}

.showcase-image{
  padding:17px 0;
}

.is-center {
  text-align: center;
}

.post-header{
  padding-bottom:14px;
}

.main-text{
  background:#cecece;
  .main-title{
    text-align:center;
    letter-spacing: 3px;
    padding:19px 0;
    font-family:Lato;
    font-size:49px;
    margin:0px;
  }
}

/*
* -- MENU STYLES --
* Customize how my .pure-menu looks at the top of the page
*/

.top-bar {

  .name h1 a{
    color: #cecece;
  }
  ul>li>a{
    color: #cecece;
  }
}

/* This is the class used for the dark-background areas. */
.ribbon {
  background: #2d3e50;
  color: #aaa;
}

/* This is the class used for the footer */
.footer {
  background: #111;
}

/**
* Wrapper
*/
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

/*
* -- TABLET (AND UP) MEDIA QUERIES --
* On tablets and other medium-sized devices, we want to customize some
* of the mobile styles.
*/
@media (min-width: 48em) {

  .top-bar{

    .name h1 a{
      color: #cecece;
    }
  }

  /* We want to give the content area some more padding */
  .content {
    padding: 1em;
  }

  /* We can align the menu header to the left, but float the
  menu items to the right. */
  .home-menu {
    text-align: left;
  }
  .home-menu ul {
    float: right;
  }
}

/*
* -- DESKTOP (AND UP) MEDIA QUERIES --
* On desktops and other large devices, we want to over-ride some
* of the mobile and tablet styles.
*/
@media (min-width: 78em) {
}
