* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.responsive-img {
  max-width: 600px;
  height: auto;
}

.showcase-image{
  padding:17px 0;
}
/*
* -- LAYOUT STYLES --
* These are some useful classes which I will need
*/
.l-box {
  padding: 1em;
}

.l-box-lrg {
  padding: 2em;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
  text-align: center;
}

/*
* -- MENU STYLES --
* Customize how my .pure-menu looks at the top of the page
*/

.home-menu {
  padding: 25px 17px;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0,0,0, 0.10);

  .pure-menu-heading {
    color: #cecece;
    font-weight: 400;
    font-size: 41px;
    text-transform:capitalize;
    letter-spacing:-3px;

    .small-heading{
      font-size:17px;
      letter-spacing:0px;
    }
  }

  .pure-menu-selected a {
    color: #cecece;
  }

  a {
    color: #cecece;
  }
  li a:hover,
  li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
  }
}
.home-menu.pure-menu-open {
  background: #1e1e20;
}
.pure-menu.pure-menu-open.pure-menu-fixed {
  /* Fixed menus normally have a border at the bottom. */
  border-bottom: none;
  /* I need a higher z-index here because of the scroll-over effect. */
  z-index: 4;
}

/* This is the class used for the dark-background areas. */
.ribbon {
  background: #2d3e50;
  color: #aaa;
}

/* This is the class used for the footer */
.footer {
  background: #111;
}

/**
* Wrapper
*/
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

/*
* -- TABLET (AND UP) MEDIA QUERIES --
* On tablets and other medium-sized devices, we want to customize some
* of the mobile styles.
*/
@media (min-width: 48em) {

  /* We want to give the content area some more padding */
  .content {
    padding: 1em;
  }

  /* We can align the menu header to the left, but float the
  menu items to the right. */
  .home-menu {
    text-align: left;
  }
  .home-menu ul {
    float: right;
  }
}

/*
* -- DESKTOP (AND UP) MEDIA QUERIES --
* On desktops and other large devices, we want to over-ride some
* of the mobile and tablet styles.
*/
@media (min-width: 78em) {
}
